/* You can add global styles to this file, and also import other style files */
body {
   height: 100%;
   width: 98%;
   background-color: aliceblue;
}

.g-align-right {
   text-align: right;
}

.g-align-center {
   text-align: center;
}

.g-align-left {
   text-align: left;
}
